.order-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    .order-content {
        width: 80%;
        text-align: center;
        padding: 20px;

        .order-header {
            font-size: 24px;
            color: burlywood;
            margin-bottom: 10px;
        }

        .order-date, .order-id {
            font-size: 16px;
            color: #333;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .order-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 5px;

            p {
                font-size: 16px;
                color: #333;
                flex: 1;
                text-align: center;

                &:first-child {
                    flex: 2;
                    text-align: left;
                }
            }
        }

        .order-summary {
            margin-top: 20px;
            p {
                font-size: 16px;
                color: #333;
                margin: 5px 0;

                &:last-child {
                    font-weight: bold;
                    color: #ff6b6b;
                }
            }
        }
    }

    .order-actions {
        margin-top: 20px;

        .btn-order {
            font-size: 18px;
            color: #fff;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            padding: 10px 20px;
        }
    }
}

.total-order{
    font-size: 35px;
    font-weight: bold;
}

.item{
    text-decoration: none;
    list-style: none
}