.order-details {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.order-details h3 {
    font-size: 24px;
    margin-bottom: 12px;
}

.order-details p {
    margin: 8px 0;
}

.order-details h4 {
    font-size: 20px;
    margin-top: 16px;
}

.order-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.order-details li {
    margin: 8px 0;
}

.btn-Order{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}