footer {
    background-color: #f8f9fa;
    padding: 3rem 0;
    text-align: center;
    overflow: hidden;
}

.row {
    justify-content: center;
}

.col-6.col-md-2.mb-3 {
    h5 {
        font-size: 20px;
        margin-bottom: 1rem;
    }

    ul.nav.flex-column {
        li.nav-item.mb-2 {
            a.nav-link.p-0.text-muted {
                font-size: 16px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.col-md-5.offset-md-1.mb-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
        max-width: 100%;
        margin-bottom: 1rem;
        height: 40px;
        width: 40px;
    }

    form {
        h5 {
            font-size: 20px;
            margin-bottom: 1rem;
        }

        p {
            font-size: 16px;
            margin-bottom: 1rem;
        }

        .d-flex.flex-column.flex-sm-row.w-100.gap-2 {
            label.visually-hidden {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip-path: rect(0, 0, 0, 0);
                white-space: nowrap;
                border-width: 0;
            }

            input#newsletter1 {
                flex: 1;
                padding: 1rem;
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            button.btn.btn-primary {
                flex: 1;
                font-size: 16px;
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 4px;
                background-color:black;
                color: #fff;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    }
}