.hero {
    text-align: center;
    padding: 0px 0;
    color: #fff;
    position: relative;
    overflow: hidden;
    height: auto; 
}
.hero-video-container {
    position: relative;
    width: 100%;
    height: 86vh;
    overflow: hidden; 
    background-color: black; 
    @media (max-width: 768px) {
        height: 93vh !important; 
    }
}

.hero-video {
    top: 50%; 
    left: 0;
    width: 100%;
    transform: translateY(-30%); 
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.4);
    filter: opacity(0.5);
}

.hero-text {
    position: absolute;
    top: 70%;
    left: 30%;
    color: burlywood;
    transform: translate(-50%, -50%);
    z-index: 1; 
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}


.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}


.btn-video {
    color: white;
    background-color: transparent !important;
    font-size: x-large;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-video:hover {
    color: burlywood;
    background-color: transparent !important;
    transform: scale(1.4);
    transition: transform 0.2s ease, color 0.2s ease;

}

@media (max-width: 768px) {
    

    .hero-video {
        top: 50%;
        left: 0;
        width: 100%;
        height: 100% !important;
        object-fit: cover;
        z-index: -1;
        filter: brightness(0.4);
        filter: opacity(0.5);
        transform: none;
    }
    
    .hero h1 {
        font-size: 28px; 
    }

    .hero p {
        font-size: 16px; 
    }

    .btn-video {
        padding: 8px 16px; 
    }
}

@media (orientation: portrait) {

.homeContainer {
    background-color: #f8f8f8;
    padding: 0px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.hero {
    text-align: center;
    padding: 0px 0;
    color: #fff;
    position: relative;
    overflow: hidden;
    height: auto;
}

.hero-video-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    background-color: black;
}

.hero-video {
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.4);
    filter: opacity(0.5);
    transform: none;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: burlywood;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-video {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

}