.footer2 {
    background-image: url(../../assets/background.svg);
    border: 7px black solid;
    border-bottom: 0;
    width: 100%;
    display: flex;
    height: max-content;
    margin-bottom: auto;
    flex-direction: column;
    align-content: center;
    align-items: center;


    @media (max-width: 768px) {
        border-top: 20px;
        border: 10px #297ea6 solid;
        width: 100%;
        padding: 20px;
        text-align: end;
    }

.root{
    height: auto;
    max-height: auto;
}

#root{
    height: auto;
    max-height: auto;
}

    .footerText,
    .nav-link {
        color: burlywood !important;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        align-items: center; 
        justify-content: center; 
        transition: color 0.2s ease-in-out;

        &:hover {
            color: #f00;
        }
    }

    .ul-footer2 {
        display: flex;
        justify-content: center; 
        align-items: center; 
        list-style: none;
        padding: 0;
        margin: 0; 
    
    .footer-item {
        margin: 0; 
    }
}
    .copyright {
        position: absolute;
        bottom: 0;
        right: 0;
        color: burlywood;
        font-size: larger;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .github-content {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        justify-content: flex-end;
        margin-right: 12px;
    }

    .github-icon {
        color: white;
    }

    .github-text {
        color: white;
        font-size: 15px;
        font-weight: 500;
    }


    .footer-content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        @media (max-width: 768px) {
            justify-content: center;
            display: flex;
            align-items: center;
        }
    }

    .art-gallery-text {
        position: relative;
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: larger;
        color: burlywood;
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            
            justify-content: center;
            display: flex;
            align-items: center;
        }
    }
}
