.container-detail {
    display: flex;
    flex-direction: column;
    padding: 2% 5%; 
    box-sizing: border-box; 
    width: 100%;

    .detail-content {
        display: flex;
        flex-wrap: wrap; 

        .img-container {
            width: 100%;
            max-width: 1200px; 
            height: 600px;
            border: 4px black solid;
            display: flex;
            justify-content: center;
            background-color: white;


            .img-detail {
                width: 100%;
                max-height: 600px; 
                padding: 2%;
                object-fit:cover;

            }


        }



        .info-detail {
            width: 300px;
            flex: 1;
            padding: 2%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 300px;
            flex: 1;
            padding: 2%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .name-detail {
                font-size: 24px;
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: burlywood;
            }

        

            
            .addItemButton,.btn-volver {
                display: flex;
                justify-content: center;
                font-size: 12px;
                padding: 10px 20px;
                border-radius: 5px;
                text-decoration: none;
                margin-bottom: 1rem;
                margin: 0.5rem;
            }
        }
    }
}

.cantObras{
margin-right: 15%;
}

.btn-volver:hover{
    background-color:black;
    color:white;
}


.btn-containers {
    display: flex;
    flex-direction: column; 
    align-items: center; /* Center buttons horizontally */
    margin-top: 1rem; 
}

.ItemCountContainer {
    display: flex;
    margin-bottom: 0.5rem;


}

.detail-info {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;

    &::before {
        content: attr(data-label) ": ";
        font-weight: bold;
    }
}