.container-detail {
    display: flex;
    flex-direction: column;
    padding: 0% 5%;
    box-sizing: border-box;
    width: 100%;
}

.detail-content {
    display: flex;
    flex-wrap: wrap;
}

.img-container {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    border: 4px black solid;
    display: flex;
    justify-content: center;
    background-color: white;


    @media (max-width: 1366px) and (max-height: 768px) {
        max-width: 600px;
        height: 400px;
        margin-top: 0;
    }
    .img-detail {
        width: 100%;
        max-height: 600px;
        padding: 2%;
        object-fit: cover;

        @media (max-width: 1366px) and (max-height: 768px) {
            max-width: 600px;
            height: 400px;
        }
    }
}

.info-detail {
    width: 300px;
    flex: 1;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .name-detail {
        font-size: 40px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: burlywood;
    }

    .priceObras{
        font-weight: 600;
    }

    .btn-containers {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    .ItemCountContainer {
        display: flex;
        margin-top: 0.7rem;
    }
}

.cantObras {
    display: flex;
}

.detail-info {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;

    &::before {
        content: attr(data-label) ": ";
        font-weight: bold;
    }
}

.btn-volver:hover {
    background-color: black;
    color: white;
}

.detail-description {
    font-size: 18px;
    margin-top: 10px;
    font-family: sans-serif;
    color: gray;
}







@media (max-width: 768px) {
    .container-detail {
        padding: 2% 2%;
    }


    .btnCount {
        width: 30px;
        height: 30px;
        font-size: 15px;
        margin: 54px;
    }

    .countSpan {
        font-size: 24px;

    }

    .addItemButton {
        font-size: 18px;
        margin-top: 10px;
        

    }

    .ItemCountContainer{
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-around !important;
        flex-wrap: wrap ;
        align-content: center !important;
    }
}