.Error404Container{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: auto;
}

.error404img{
width: 100%;
height: 550px;
}



