// CartWidget.scss
.divCarrito {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  width: auto;

  @media (max-width: 768px) {
    margin: 0;  // Elimina el margen en dispositivos móviles
    justify-content: flex-end;
    width: auto;
  }

  .cart {
    height: 3rem;

    @media (max-width: 768px) {
      height: 1.5rem;  // Ajusta el tamaño del icono en dispositivos móviles
    }
  }

  .spanCart {
    color: white !important;
    padding-left: 0.5rem;
    font-size: 35px;

    @media (max-width: 768px) {
      padding-left: 0.3rem;
      width: auto;
      font-size: 20px;  // Ajusta el tamaño del número en dispositivos móviles
    }
  }
}