.divCarrito {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: 768px) {
    margin: 0;
    justify-content: flex-end;
    width: auto;
  }

  .cart {
    height: 3rem;

    @media (max-width: 768px) {
      height: 1.5rem;
    }
  }

  .spanCart {
    color: white;
    padding-left: 0.5rem;

    @media (max-width: 768px) {
      padding-left: 0.3rem;
      width: auto;
    }
  }
}
