.divCarrito{
    margin-right: 3rem;
    display: flex;
    
    
    .cart{
        height: 3rem;

    }
        .spanCart{
            color: white;
            padding-top: 0.7rem;
            
    }
}