.divCarrito {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}


.cart {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.spanCart {
  background-color: #ff6b6b;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 14px;
}

.cart-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.cart-modal-title {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}


.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}


.product-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

.cart-empty-message {
  text-align: center; 
  padding: 20px;
}

.cart-empty-message p {
  color: #333; 
  font-size: 18px; 
  margin-bottom: 20px; 
  display: none;
}

.cart-empty-imgCont{
width: 100%;
position: relative;
height: 300px;
margin-bottom: 2rem;
}

.cart-empty-img{
  height: 300px;
}

.cart-empty-message .button-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}


.cart-empty-message .cart-buttons {
  display: flex;
  gap: 10px; 
}


.cart-empty-message .cart-buttons a,
.cart-empty-message .cart-buttons button {
  padding: 8px 16px; 
  border-radius: 5px; 
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}


.cart-empty-message .cart-buttons a:hover,
.cart-empty-message .cart-buttons button:hover {
  color: #fff; 
  cursor: pointer; 
}

.item-details {
  flex-grow: 1;
}


.product-name {
  font-weight: bold;
  margin-bottom: 5px;
}


.product-quantity {
  color: burlywood;
  margin-left: 5px;
  font-weight: bold;
}


.remove-button {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}


.total {
  margin-top: 20px;
  font-weight: bold;
}

.clear-button {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  float: left;
}

.close-button {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  float: left;
}
  .go-pay-button {
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}