.divCarrito {
    margin-right: 1rem;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        margin: 1rem 0;
        justify-content: flex-end;
        width: 100%;
    }

    .cart {
        height: 3rem;

        @media (max-width: 768px) {
            height: 2.5rem;
        }
    }

    .spanCart {
        color: white;
        padding-left: 0.5rem; 
        @media (max-width: 768px) {
            padding-left: 0.3rem; 
        }
    }
}