.itemListContainer-sty {
    width: 100%; 
    overflow-x: hidden; 
}


@media (max-width: 768px) {
    .itemListContainer-sty {
        padding: 2% 5%; 
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
}