.footer1 {
    background-image: url(../../img/background.svg);
    border: 20px #297ea6 solid;
    border-bottom: 0;

    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0 !important;
    margin-left: 0 !important;



    @media (max-width: 768px) {
        padding: 2rem 0;
        display: flex;
        font-size: x-small;
        justify-content: center;
        align-items: center;
      }
    }

.footer-item {
    color: white !important;
    font-weight: bold;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    
}

.nav-link.footer-item {
    color: white !important;
    transition: color 0.2s ease-in-out;
    @media (max-width: 768px) {
        size: 5px;
    }
    &:hover {
        color: #f00;
    }


}


.logoFooter  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center; 
    color: white !important;
    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 1rem;
      }
    }


.logoFooter span{
color: burlywood !important;
}

.h5Footer{
    color: burlywood !important;
}

.section-footer1{
    @media (max-width: 768px) {
        .col.mb-3 {
          margin-top: 1rem; 
        display: inline;
        }
      }
}