.Item-contenedor {
    width: 300px; 
    height: 400px; 
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 0.5rem;
}

.Item-contenedor:hover {
    transform: scale(1.03);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}


.containerObras {
    width: 100%;
    height: 60%; 
    border: 4px solid #333;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.containerObras .imgObras {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: center top;
    transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}


.ItemDatosContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.nameObras,
.catObras {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}


.viewContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn-viewMore {
    width: 120px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    font-weight: bold;
}

.btn-viewMore:hover {
    background-color: #249b21;
}


@media (max-width: 768px) {
    .Item-contenedor {
        width: 100%; 
        height: auto; 
        margin-bottom: 1rem;
    }

    .containerObras {
        height: 40%; 
    }

    .nameObras,
    .catObras {
        font-size: 1rem;
    }

    .btn-viewMore {
        width: 100%;
    }
}
