.Item-contenedor{
    margin-bottom: 2rem;
    
}
.containerObras{
    display: flex;
    flex-direction: column;
    width: 300px; /* Add max-width to prevent items from becoming too wide */
    height: 250px;
    margin-right: 2rem;
    margin-bottom: 2rem; /* Add margin to create spacing between items */
    justify-content: space-between;
    align-items: center;

}

.imgObras{

    width: 100%; /* Make the image take full width */
    height: 250px; /* Let the height adjust automatically */
    border: 4px black solid;
    padding: 0.6rem;

}
.ItemDatosContainer{
    flex: 1; /* Allow this container to take remaining vertical space */
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}



.nameObras {
    text-align: center;
}

.artistObras,
.catObras,
.originObras,
.sizeObras,
.priceObras {
    text-align: center;
    margin-top: 0.2rem;
}




.viewContainer{
    display: flex;
    justify-content: center;
}


.btn-viewMore{
    width: 90px;
    margin-top: 1rem;

}

