.checkout-container {
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        height: auto;

    }
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: burlywood;
    display: flex;
    justify-content: center;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;

    th,
    td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    th {
        font-weight: bold;
        background-color: #f5f5f5;
    }

    td {
        color: #333;
    }
}

@media (max-width: 768px) {
    .product-table {
        font-size: 14px;
    }
}

.total-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.total-amount {
    color: #ff6b6b;
    margin-left: 7px;
    letter-spacing: -1px;

}

.btn-checkout button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-control::placeholder {
    color: gray !important;
    opacity: 0.3;
}
@media (max-width: 768px) {
    .btn-checkout {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .btn-checkout button {
        margin: 0 5px;
    }
}

.buyer-form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
            font-weight:100;
        }

        input[type="text"],
        input[type="email"] {
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
    }

    .buy-button {
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
    }
}



@media (max-width: 500px) {
    .product-table th,
    .product-table tbody,
    .product-table td {
        width: 100%;
    }

    .product-table th::before,
    .product-table td::before {
        content: attr(data-label);
        font-weight: bold;
        width: 50%;
    }
}


