.checkout-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    @media (max-width: 768px) {
    height: 70vh;
}
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    display: flex;
    justify-content: center;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th,
    td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        font-weight: bold;
        background-color: #f5f5f5;
    }

    td {
        color: #333;
    }
}

.total-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.total-amount {
    color: #ff6b6b;
    margin-left: 7px;
    letter-spacing: -1px;
}



.buyer-form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"] {
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
    }

    .buy-button {
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
    }
}