.navv {
    background-image: url(../../assets/background.svg);
    border: 15px #297ea6 solid;
    box-sizing: border-box;
    position: sticky !important;
    top: 0;
    z-index: 10;
    width: 100%;
    justify-content: center; 
    padding: 10px 0;
    font-size: 24px;
    height: 130px;


    @media (max-width: 768px) {
        border: 0.5px  #297ea6 solid ;
        font-size: 14px;
        height: 80px;
    }
}

.navbar-center {
    @media (max-width: 768px) {
    }
}



.cartWidgetContainer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    max-width: 1200px;


    @media (max-width: 768px) {
        margin: 0;
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.cartWidgetContainer img {

    @media (min-width: 368px) {
        width: 51px;
        height: 51px;
        margin: 0;
        padding: 0;
    }
}

.logo {
    font-size: 0;
    height: 80px;
    @media (max-width: 768px) {
        width: 50px;
        height: 40px;
        font-size: 0;
        
    }
}

.spanLogo {
    margin-left: 15px;
    @media (max-width: 768px) {
        width: 50px;
        height: 40px;
        font-size: 0;
        display: none;
        
    }
}

@media (max-width: 375px) {
    .navbar-link .nav-link.dropdown-toggle .navbar-link {
        font-size: 18px;
        padding: 0.3rem 0.6rem;
    }
}

.logo-asd{
    color: burlywood !important;
}

.navbar-link .navLink.dropdown-toggle .navbar-link {
    color: white;
    font-size: 35px !important;
    font-weight: bold !important;;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    transition: color 0.2s ease-in-out;

    @media (max-width: 768px) {
        font-size: 20px;
        padding: 0.5rem;
    }
}


.navbar-link .dropdown-menu {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;

    @media (max-width: 768px) {
        position: relative;
    }
}

.navbar-link .dropdown-item {
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;

    @media (max-width: 768px) {
        font-size: 14px;
        padding: 8px 16px;
    }
}

.navbar-link .dropdown-item:hover {
    background-color:#297ea6;
    color: black;
}

//barra desplazamiento

::-webkit-scrollbar {
    width: 12px;
    background-color: #000; 
}

::-webkit-scrollbar-thumb {
    background-color: #333; 
    border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}