.footer2 {
    background-image: url(../../assets/background.svg);
    border: 20px #297ea6 solid;
    border-top: 0px;

    @media (max-width: 768px) {
        border-top: 20px;
        border: 10px #297ea6 solid;
        position: relative;
        bottom: 0;
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .footerText,
    .nav-link {
        color: burlywood !important;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: #f00;
        }
    }

    .copyright {
        position: absolute;
        bottom: 0;
        right: 0;
        color: burlywood;
        font-size: larger;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .github-content {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        justify-content: flex-end;
        margin-right: 12px;
    }

    .github-icon {
        color: white;
    }

    .github-text {
        color: white;
        font-size: 15px;
        font-weight: 500;
    }


    .footer-content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        @media (max-width: 768px) {
            justify-content: center;
            display: flex;
            align-items: center;
        }
    }

    .art-gallery-text {
        position: relative;
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: larger;
        color: burlywood;
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            
            justify-content: center;
            display: flex;
            align-items: center;
        }
    }
}