.footer2 {
  background-image: url(../../img/background.svg);
  border: 20px #297ea6 solid;
  height: 200px;

  .footerText,
  .nav-link {
    color: white !important;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: #f00;
    }
  }
}
