



.sectionGalleryHome {
    display: flex;
    width: 100%;
    height: 650px;
    margin-top: 5rem;
}

.sectionGalleryHome .galleryCard {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sectionGalleryHome .galleryCard img {
    width: 300px; /* Ajusta el ancho de las imágenes */
    height: 400px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

.sectionGalleryHome .galleryCard:hover img {
    cursor: crosshair;
    width: 600px; /* Mantén el mismo ancho que en estado normal */
    opacity: 1;
    filter: contrast(120%);
}