.navv {
    background-image: url(../../assets/background.svg);
    border: 20px #297ea6 solid;
    box-sizing: border-box;
    position: sticky !important;
    width: 100vh;
    top: 0;
    z-index: 10;
    width: auto;

    @media (max-width: 768px) {
        border: 0.5px  #297ea6 solid ;
    }
}

.navbar-center {
    @media (max-width: 768px) {
    }
}

.cartWidgetContainer {
    margin-right: 2rem;

    @media (max-width: 768px) {
        margin: 0;
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.cartWidgetContainer img {
    @media (min-width: 368px) {
        width: 51px;
        height: 51px;
        margin: 0;
        padding: 0;
    }
}

.logo {
    font-size: 0;
    @media (max-width: 768px) {
        width: 50px;
        height: 40px;
        font-size: 0;
        
    }
}

.spanLogo {
    margin-left: 15px;
    @media (max-width: 768px) {
        width: 50px;
        height: 40px;
        font-size: 0;
        display: none;
        
    }
}

@media (max-width: 375px) {
    .navbar-link .nav-link.dropdown-toggle .navbar-link {
        font-size: 18px;
        padding: 0.3rem 0.6rem;
    }
}

.logo-asd{
    color: burlywood !important;
}

.navbar-link .navLink.dropdown-toggle .navbar-link {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    transition: color 0.2s ease-in-out;

    @media (max-width: 768px) {
        font-size: 20px;
        padding: 0.5rem;
    }
}

.navbar-link .nav-link.dropdown-toggle:hover {
    color: #f00;
}

.navbar-link .dropdown-menu {
    background-color: #297ea6;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;

    @media (max-width: 768px) {
        position: relative;
    }
}

.navbar-link .dropdown-item {
    color: wheat;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;

    @media (max-width: 768px) {
        font-size: 14px;
        padding: 8px 16px;
    }
}

.navbar-link .dropdown-item:hover {
    background-color: wheat;
    color: black;
}
